<%= link_to 'Новый продукт', new_admin_food_path, class: "btn btn-default btn-sm new-item-button" %>
<h2>Продукты</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align">
    <thead>
      <tr>
        <th>Артикул</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Вес</th>
        <th>Окончание срока годности</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.vendor_code %></td>
          <td><%= link_to food.title, [:admin, food] %></td>
          <td><%= number_to_currency(food.price, unit: "") %> грн</td>
          <td><%= number_to_currency(food.weight, unit: "") %> кг</td>
          <td><%= food.expiry_date.strftime("%m-%e-%y") %></td>
          <td>
            <%= link_to edit_admin_food_path(food) do %>
              <span class="glyphicon glyphicon-pencil text-muted" aria-hidden="true"></span>
            <% end %>
          </td>
          <td>
            <%= link_to [:admin, food], method: :delete, data: { confirm: 'Вы уверены?' } do %>
              <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
