<div class="col-xs-12 col-md-3">
  <%= image_tag(@user.image_url, class: "image") %>
</div>
<div class="col-xs-12 col-md-9">
  <table class="table">
    <tr>
      <td>
        <strong>Имя:</strong>
      </td>
      <td>
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Email:</strong>
      </td>
      <td>
        <%= @user.email %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Телефон:</strong>
      </td>
      <td>
        <%= @user.phone %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Адрес:</strong>
      </td>
      <td>
        <%= @user.address %>
      </td>
    </tr>
  </table>
  <% if current_user == @user %>
    <%= link_to "Изменить данные", edit_user_path(current_user), class: "btn btn-default btn-block" %>
  <% end %>
  <% if current_user != @user %>
    <%= link_to @make_admin_button, admin_make_admin_path(user_id: @user.id),
                                    class: "btn btn-default btn-block",
                                    data: { confirm: "Вы уверенны?" } %>
  <% end %>
</div>
