<div class="col-md-12"><h2>Корзина:</h2></div>
<div class="col-md-12">
  <% if @line_items.present? %>
    <table class="table table-striped vertical-align">
      <% @line_items.each_with_index do |line_item, index| %>
      <tr data-line-item-id = "<%= line_item.id %>" >
        <td><%= image_tag line_item.product.image_url(:small) if line_item.product.image? %></td>
        <td><%= link_to line_item.product.title, product_path(line_item.product) %></td>
        <td>
          <button type="button" class="btn btn-link decrease-line-item pull-right">
            <span class="glyphicon glyphicon-minus text-danger" aria-hidden="true"></span>
          </button>
        </td>
        <td class="text-center" class="line-item-quantity"><%= line_item.quantity %></td>
        <td>
          <button type="button" class="btn btn-link increase-line-item pull-left">
            <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
          </button>
        </td>
        <td><span data-line-item-price = "<%= line_item.product.price %>"><%= number_to_currency(line_item.product.price, unit: "") %></span> грн</td>
        <td>
          <button type="button" class="btn btn-link delete-line-item">
            <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      <% end %>
      <tr>
        <td><h4>Сумма:</h4></td>
        <td><h4 class="text-danger"><span id="total_price"><%= number_to_currency(order_total_price, unit: "") %></span> грн</h4></td>
      </tr>
    </table>
    <div class="col-md-2 col-xs-5">
      <%= button_to "Очистить корзину", @cart, class: "btn btn-danger", method: :delete, data: { confirm: 'Вы уверены?' } %>
    </div>
    <div class="col-md-2 col-xs-5">
      <%= render "orders/form" %>
    </div>
  <% else %>
    <div class="col-md-12"><h5>В корзине еще нет товаров</h5></div>
  <% end %>
</div>
