<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <% @product.errors.full_messages.each do |message| %>
      <div class="alert alert-danger alert-dismissible fade in" role=alert>
        <button type=button class=close data-dismiss=alert aria-label=Close>
          <span aria-hidden=true>&times;</span>
        </button>
        <%= message %>
      </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, "Название" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Описание" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Цена" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image_url, "Изображение" %>
    <%= f.file_field :image_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, "Категория" %>
    <%= f.collection_select(:category_id, @categoies, :id, :title, {}, { class: "form-control", id: "sel1" }) %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary btn-block", value: "Отправить" %>
  </div>
<% end %>
