<div class="col-xs-4">
  <%= image_tag @product.image_url(:middle), class: "img-responsive" if @product.image? %>
</div>
<div class="col-xs-8">
  <h4><%= @product.title %></h4>
  <p><%= link_to @product.category.title, admin_categories_path, class: "text-right" %></p>
  <p class="text-muted"><%= @product.description %></p>
  <h4 class="text-danger text-right"><%= number_to_currency(@product.price, unit: "₴") %></h4>
</div>
<div class="col-xs-12">
  <%= link_to 'Редактировать', edit_admin_product_path(@product), class: "btn btn-default pull-right" %>
</div>
