<table class="table">
  <tr>
    <td>
      <strong>Название:</strong>
      <%= @product.title %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Описание:</strong>
      <%= @product.description %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Цена:</strong>
      <%= @product.price %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Фото:</strong>
      <%= @product.image %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Категория:</strong>
      <%= @product.category %>
    </td>
  </tr>
</table>
<%= link_to 'Редактировать', edit_admin_product_path(@product) %> |
<%= link_to 'Назад', admin_products_path %>
