<h2>Пользователи</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'Показать', user, class: "btn btn-default btn-xs btn-block", target: "_blank" %></td>
          <td><%= link_to 'Удалить', [:admin, user], class: "btn btn-danger btn-xs btn-block", method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
