<h2><%= link_to "Новые заказы", admin_orders_path %> (<span class="text-danger"><%= @quantity_orders %></span>)</h2>

<%= render "admin/orders/table_index_each" %>

<h2><%= link_to "Новые покупатели", admin_users_path %> (<span class="text-danger"><%= @quantity_users %></span>)</h2>

<div class="table-responsive">
  <table class="table table-striped table-hover vertical-align">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Дата регистрации</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user, target: "_blank"  %></td>
          <td><%= user.email %></td>
          <td><%= user.created_at.strftime("%m-%e-%y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
