<h1>Listing Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Image url</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= product.image %></td>
        <td><%= product.category %></td>
        <td><%= button_to 'Buy', line_items_path(product_id: product), class: 'btn-buy' %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
