    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nosh-up</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%= content_tag :li, class: current_page?(admin_path) ? "active" : "" do %>
              <%= link_to "Админ-панель", admin_path %>
            <% end %>
            <%= content_tag :li, class: current_page?(edit_user_path(current_user)) ? "active" : "" do %>
              <%= link_to "Настройки", edit_user_path(current_user) %>
            <% end %>
            <%= content_tag :li, class: current_page?(user_path(current_user)) ? "active" : "" do %>
              <%= link_to "Профиль", user_path(current_user) %>
            <% end %>
            <li><%= link_to "Выход", session_path(session), method: :delete %></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Поиск...">
          </form>
        </div>
      </div>
    </nav>
