<!DOCTYPE html>
<html>
<head>
  <title>NoshUp - Админка</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/admin_menu" %>
  <div class="container container-padding-top">
    <div class="container-fluid">
      <div class="row">
        <%= render "layouts/admin_sidebar" %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
