<!DOCTYPE html>
<html>
<head>
  <title>NoshUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/top_menu" %>
  <div class="container">

    <%= flash_messages %>
    <%= yield %>

    <footer>
      <p class="text-center">&copy; Nosh-up <%= Date.today.year %></p>
    </footer>
  </div>
</body>
</html>
